@media screen and (max-width: 1000px){
    select{
        padding: 1em 0;
    }
}

body{
    background-image: url(https://unsplash.it/2000/2000);
}
.innerwrapper{
    background-color: rgba(255,255,255,0.9);
    max-width: 90%;
}
.problemcase p {
    padding: 0.2em;
}
div.sub > div{
    display: none;
}
textarea{
    display: block;
    width: 15em;
    height: 5em;
    margin: 0 1em;
}
select{
    padding: 0.5em 0;
    margin: 2em 0;
}


div.case{
    display: flex;
    justify-content: center;
}

.case{
    display: flex;
}
.sub-case{
    margin: auto 0;
    display: block;
}