body{
    background-image: url(https://unsplash.it/2000/2000);
}
.innerwrapper{
    background-color: rgba(255,255,255,0.9);
    max-width: 90%;
}
.problemcase p {
    padding: 0.2em;
}
div.sub > div{
    display: none;
}
textarea{
    display: block;
    width: 15em;
    height: 5em;
}
select{
    margin: 2em 0;
}


div.case{
    display: flex;
    justify-content: center;
}

.case{
    display: flex;
}
.sub-case{
    margin: auto 0;
    display: block;
}